<div class="sidebar">
    <h2 class="sb-title"><a href="/">{{.Site.Title}}</a></h2>
    <h2 class="sb-icon">☰</h2>
    <ul class="index">
        {{$currPage := .}}
        {{range $k, $v := .Site.Params.parts}}
            <li tabindex="{{$k}}">{{if $.Site.Params.shownums}}{{$k}} - {{end}}{{$v}}
                <ul class="{{if eq $k $currPage.Params.part}}active-part{{end}} subindex">
                    {{range (where (sort $.Site.Pages "Params.subpart") "Params.part" $k)}}
                        <a href="{{.RelPermalink}}"><li class="{{if eq .RelPermalink $currPage.RelPermalink}}active-page{{end}}">{{if $.Site.Params.shownums}}{{.Params.subpart}} - {{end}}{{.Title}}</li></a>
                    {{end}}
                </ul>
            </li>
        {{end}}
    </ul>
</div>
